.NAVBAR{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Space_banner.jpg/1596px-Space_banner.jpg');
  background-size: cover;
  max-width: auto;
  /* border: solid red 5px; */
  height: 200px;
}
.navitems{
  display: flex;
  justify-content: flex-end;
  /* border: blue solid 5px; */
  margin-right: 15px;
  
}

.buttons{
  margin-right: 25px;
}
#welcomeMessage{
  color: #8d03ff;
  font-size: 50px;
  font-weight: bold;
  /* border: green 5px solid; */
  margin-top: -30px;
}
#homebutton{
  height: 80px;
  width: 80px;
  /* border: orange solid 5px; */

}
#prevUsersButton{
  height: 80px;
  width: 80px;
  /* border: purple solid 5px; */

}